:root {
    /* Red */
    --color-red: #ff4d4d;
    --color-red-light: #ff9999;
    --color-red-dark: #cc0000;
    --color-red-hover: #e63939;
    --color-red-light-hover: #ffb3b3;
    --color-red-dark-hover: #b30000;

    /* Blue */
    --color-blue: #4d79ff;
    --color-blue-light: #99b3ff;
    --color-blue-dark: #0033cc;
    --color-blue-hover: #3965e6;
    --color-blue-light-hover: #b3ccff;
    --color-blue-dark-hover: #002699;

    /* Green */
    --color-green: #4dff88;
    --color-green-light: #99ffbb;
    --color-green-dark: #00cc44;
    --color-green-hover: #39e673;
    --color-green-light-hover: #b3ffd1;
    --color-green-dark-hover: #009933;

    /* Yellow */
    --color-yellow: #ffd24d;
    --color-yellow-light: #ffe699;
    --color-yellow-dark: #ccaa00;
    --color-yellow-hover: #e6bc39;
    --color-yellow-light-hover: #ffedb3;
    --color-yellow-dark-hover: #b38f00;

    /* Purple */
    --color-purple: #9d4dff;
    --color-purple-light: #c699ff;
    --color-purple-dark: #7200cc;
    --color-purple-hover: #8c39e6;
    --color-purple-light-hover: #d1b3ff;
    --color-purple-dark-hover: #590099;

    /* Black */
    --color-black: #000000;
    --color-black-light: #333333;
    --color-black-dark: #000000;
    --color-black-hover: #1a1a1a;

    /* Gray */
    --color-gray: #808080;
    --color-gray-light: #d3d3d3;
    --color-gray-dark: #505050;
    --color-gray-hover: #b0b0b0;

    /* Sky */
    --color-sky: #87ceeb;
    --color-sky-light: #b0e2ff;
    --color-sky-dark: #4682b4;
    --color-sky-hover: #5dade2;

    /* Orange */
    --color-orange: #ffa500;
    --color-orange-light: #ffcc80;
    --color-orange-dark: #cc8400;
    --color-orange-hover: #ffb84d;

    /* Pink */
    --color-pink: #ff69b4;
    --color-pink-light: #ffb6c1;
    --color-pink-dark: #c71585;
    --color-pink-hover: #ff85d4;

    /* Teal */
    --color-teal: #008080;
    --color-teal-light: #40e0d0;
    --color-teal-dark: #004d4d;
    --color-teal-hover: #20b2aa;

    /* Brown */
    --color-brown: #a52a2a;
    --color-brown-light: #d2b48c;
    --color-brown-dark: #5a2a2a;
    --color-brown-hover: #c57a74;

    /* White */
    --color-white: #ffffff;
    --color-white-dark: #f0f0f0;
    --color-white-light: #ffffff;
    --color-white-hover: #e6e6e6;
}
