
<header>
    <div class="header-container">
        <div class="logo">
            <img src="" alt="Logotipo" width="25" height="24">
        </div>
        {% if request.user.is_authenticated %}
        <nav>
            <ul>
                <li><a href="{% url 'sobre_mi_crear' %}">Sobre Mí</a></li>
                <li><a href="{% url 'enlaces_sociales_lista' %}">Enlace Social</a></li>
                <li><a href="{% url 'proyectos_lista' %}">Proyecto</a></li>
                <li><a href="{% url 'experiencias_lista' %}">Experiencia</a></li>
                <li><a href="{% url 'estudios_lista' %}">Estudio</a></li>
            </ul>
        </nav>
        {% endif %}
    </div>
</header>
