{% extends "base.html" %}

{% block title %}Inicio - Mi Portafolio{% endblock %}

{% block content %}


<section id="sobre-mi" class="grid col-12">
    <!-- Imagen de perfil -->
    <div class="perfil-imagen-container span-3">
        {% if sobremi %}
        <img src="{{ sobremi.perfil.url }}" alt="Foto de {{ sobremi.full_name }}" class="perfil-imagen s-auto br-24 ">
        {% endif %}
    </div>
    <!-- Nombre y descripción a la derecha -->
    <div class="perfil-info span-4 s-auto">
        {% if sobremi %}
        <h1 class="perfil-nombre">{{ sobremi.full_name }}</h1>
        <p class="perfil-descripcion">{{ sobremi.descripcion }}</p>
        {% else %}
        <p>No se ha configurado información de 'Sobre Mí'.</p>
        {% endif %}
    </div>
    <!-- Botones de enlaces sociales debajo -->
    <div class="botones span-12 grid col-12 m-col-4 s-col-3 ">
        {% for link in social_links %}
        <a href="{{ link.url }}" target="_blank" class="btn btn-purple span-auto br-24">
            {% if link.svg %}
            <span class="btn-icon s-1/2">{% autoescape off %}{{ link.svg }}{% endautoescape %}</span>
            {% endif %}
            {{ link.title }}
        </a>
        {% empty %}
        <p class="span-12">No hay enlaces sociales disponibles.</p>
        {% endfor %}
    </div>
</section>



<section id="proyectos" class="grid col-4 s-col-1">
    <h2 class="span-4 s-span-1">Proyectos</h2>
        {% for proyecto in projects %}
        <div class="span-1 proyecto">
            <img src="{{ proyecto.image.url }}" alt="{{ proyecto.title }}" class="img-16/9 max-w-250 br-10 hzoom-50 hzoom">
            <h3>{{ proyecto.title }}</h3>
            <p>{{ proyecto.description }}</p>
            <div class="proyecto-links">
                <a href="{{ proyecto.repository }}" target="_blank" class="btn btn-black">Repositorio</a>
                <a href="{% url "proyectos_detalle" pk=proyecto.pk %}" class="btn btn-sky text-black">Detalle</a>
                {% if proyecto.pagina %}
                <a href="{{ proyecto.pagina }}" target="_blank" class="btn btn-green">Ver página</a>
                {% endif %}
            </div>
        </div>
        {% empty %}
        <div class="span-12">
            <p>No hay proyectos disponibles.</p>
        </div>
        {% endfor %}
</section>

<section id="experiencias" class="grid col-1">
    <h2 class="span-1">Experiencias Profesionales</h2>
        {% for experiencia in experiencias %}
        <div class="span-1">
            <h3>{{ experiencia.cargo }} en {{ experiencia.empresa }}</h3>
            <p>{{ experiencia.description }}</p>
            <p>
                <strong>Inicio:</strong> {{ experiencia.inicio }}<br>
                {% if experiencia.fin %}
                <strong>Fin:</strong> {{ experiencia.fin }}
                {% else %}
                <strong>Actualidad</strong>
                {% endif %}
            </p>
            {% if experiencia.url %}
              <a href="{{ experiencia.url }}" target="_blank" class="btn btn-sky br-24">
                Más información
              </a>
            {% endif %}
        </div>
        {% empty %}
        <div class="span-12">
            <p>No hay experiencias profesionales disponibles.</p>
        </div>
        {% endfor %}
</section>
{% endblock %}
