{% extends "base.html" %}
{% load static %}
{% load generate_table %}

{% block title %}
    {{ model_name_plural }}
{% endblock %}

{% block content %}
    <h1>{{ model_name_plural }}</h1>
    <div>
        {% if create_url_name %}
            <a href="{% url create_url_name %}" class="button is-primary">Crear Nuevo</a>
        {% endif %}
    </div>
    <div>
        {% render_table table_headers table_fields objects user.is_authenticated update_url_name delete_url_name null_values image_fields %}
    </div>
{% endblock %}
