
{% load static %}
{% load generate_table %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ model_name_plural }}</title>
</head>
<body>
    <h1>{{ model_name_plural }}</h1>
    <div>
        {% if create_url_name %}
            <a href="{% url create_url_name %}" class="button is-primary">Crear Nuevo</a>
        {% endif %}
    </div>
    <div>
        {% render_table table_headers table_fields objects user.is_authenticated update_url_name delete_url_name null_values image_fields %}
    </div>
</body>
</html>
